# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.out
*.so
*.pdf
*.pyc
#  ~ files
*~
# files associated to phreeqc launch
phreeqc.log
# initial files for phreeqC
phreeqCFile
# to avoid gzip files
*.gz
# wrapping file
WPhreeqc.c
